* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #CBE2B5;
  padding: 2px 16px;
  color: rgb(0, 0, 0);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
 /* CSS untuk modal */
 .modal {
  display: none;
  /* Tersembunyi secara default */
  position: fixed;
  /* Tetap di posisi tetap */
  z-index: 1;
  /* Di atas elemen lain */
  left: 0;
  top: 0;
  width: 100%;
  /* Lebar penuh */
  height: 100%;
  /* Tinggi penuh */
  overflow: auto;
  /* Scroll jika diperlukan */
  background-color: rgba(0, 0, 0, 0.5);
  /* Latar belakang gelap */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% dari atas dan otomatis dari kiri/kanan */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Lebar modal */
  text-align: center;
  /* Teks tengah */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none; /* Sembunyikan semua slide secara default */
  opacity: 0; /* Mulai dengan opacity 0 */
  transition: opacity 1.5s ease-in-out; /* Transisi halus untuk opacity */
}

.mySlides.show {
  display: block; /* Tampilkan slide saat ini */
  opacity: 1; /* Set opacity ke 1 untuk slide yang terlihat */
}